/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: linear-gradient(to right, #9c46f1, #6658ff);
    margin: 0;
    padding: 0;
    color: rgb(85, 84, 84);
}

/* Header */
header {
    width: 100%;
    padding: 20px;
    background-color: transparent;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.title p {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Main Content */
h1, h2, h3 {
    margin: 20px;
}

main {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* General Portfolio Section Styles (global) */
.portfolio-description p {
    max-width: 50%;
    padding: 20px;
}

/* Responsive Design using Media Queries */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .container {
        max-width: 90%;
        padding: 10px;
    }

    .Bio, .portfolio {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .portfolio img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    footer {
        position: static;
        padding: 10px;
    }

    .container {
        margin: 20px auto; /* Reduce margin for smaller screens */
        width: 95%; /* Use almost full width */
    }

    .Bio, .BioText, .BioImage {
        flex-direction: column;
        align-items: center; /* Center items vertically for smaller screens */
        width: 100%;
    }

    .BioText {
        padding: 10px;
        text-align: center; /* Center text for smaller screens */
    }

    .BioText h2 {
        font-size: 1.5em; /* Smaller font size on smaller screens */
    }

    .BioText p {
        font-size: 1em; /* Reduce font size for better readability on smaller screens */
    }

    .BioImage {
        max-width: 100%;
        margin-bottom: 20px; /* Add spacing below the image */
    }
}


